# Base URL for the backend API
REACT_APP_API_BASE_URL=http://localhost:5000/api

# Blockchain RPC endpoint (used in the UI/Web3 connection) 
REACT_APP_CHAIN_RPC_URL=https://testnet-rpc.helachain.com

# ID of blockchain network
REACT_APP_CHAIN_ID=666888
