# Server Port
PORT=6001

# MongoDB Connection URL
MONGO_URL=mongodb://localhost:27017/blockchain

# JWT Secret Key (use a strong random string for production)
JWT_SECRET=your_jwt_secret_key_here

# Blockchain / RPC
RPC_URL=https://testnet-rpc.helachain.com

#  ID of blockchain network
CHAIN_ID=666888

# API key for Cloudinary uploads
CLOUDINARY_API_KEY=your_cloudinary_api_key